.header {
    background-color: rgb(73, 73, 73);
    color: white;
    font-family: encodeBold, sans-serif;
}

.header nav ul li{
   margin-inline-end: 2rem;
}


.header nav ul li a{
    display: block;
    height: 65px;
    line-height: 65px;
    width: 100px;
    text-align: center;
}

.header .logo {
    font-family: oleo, sans-serif;
    font-size: 2rem;
    margin-inline-start: 0.7rem;
}

.header .logo span {
    color: yellow;
}