
.emails-list {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width:100%
}


.mail-info {
    flex-basis: 80%
}


.email img{
    width: 80px;
    border-radius: 50%;

}

.email h1 {
    margin: 0;
    padding: 0;
}

.email {
    padding: 20px;
    color: black;
    gap: 15px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    /* margin: 5px; */
    transition: padding 1s;
    /* height: 100px; */
    
}



/* .email p {
    white-space: nowrap;
    text-overflow:ellipsis; 
    overflow: hidden;
} */

.email:hover {
    background-color: rgba(167, 167, 167, 0.199);
}

.email a {
    color: black;
    align-items: center;
    padding: 0.750rem;
    
}




.email.expand { 
    padding: 100px 10px;
    /* height: 300px; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: padding 1s;
}


.btn-container {
    gap: 10px;
}

.btn-container button {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}


.btn-container .btn-trash:hover {
    background-color: red;
    color: white;
    transition: background 1s;
}

.btn-container .btn-star:hover {
    background-color: gold;
    color: black;
    transition: background 1s;
}

.btn-container .btn-expand:hover{
    background-color: black;
    color: white;
    transition: background 1s;
}