table {
    background-color: lightgrey;
    width: 100%;
}

table th {
    background-color: black;
    color: white;
    padding: 20px;
}

table td {
    border-bottom: 1px solid black;
    padding: 10px 50px;
}



.mail-info {
    flex-basis: 80%
}


.email img{
    width: 100px;
    height: 100px;
}

.email {
    padding: 20px;
    color: black
}

.email a{
    color: black;
}
