* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: rgb(24, 24, 24);
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form label {
    margin-top: 1.2rem;
}

form input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

input {
    margin-inline-end: 50px;
}

.btn {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 150px;
    margin-bottom: 1.3rem;
    
}

.btn:hover {
    background-color: whitesmoke;
}