* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: rgb(24, 24, 24);
}

body {
    margin: 0;
    padding: 0;
    font-family: encode, sans-serif;

}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

.nav a {
    
    color: white;
}

a {
    text-decoration: none;
}