.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between{
    justify-content: space-between;
}

.flex.justify-center{
    justify-content: center;
}

.flex.justify-around{
    justify-content: space-around;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-layout {
    max-width: 980px;
    margin: auto;
}